/* Text styles matching styles setup in webflow */
@mixin u-text-display-2 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--display-2);
    line-height: var(--line-height--1em);
    letter-spacing: var(--letter-spacing--0-02em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-display-1 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--display-1);
    line-height: var(--line-height--1em);
    letter-spacing: var(--letter-spacing--0-02em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h1 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h1);
    line-height: var(--line-height--1em);
    letter-spacing: var(--letter-spacing--0-02em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h2 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h2);
    line-height: var(--line-height--1-1em);
    letter-spacing: var(--letter-spacing--0-02em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h3 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h3);
    line-height: var(--line-height--1-1em);
    letter-spacing: var(--letter-spacing--0-02em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h4 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h4);
    line-height: var(--line-height--1-1em);
    letter-spacing: var(--letter-spacing--0em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h5 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h5);
    line-height: var(--line-height--1-3em);
    letter-spacing: var(--letter-spacing--0em);
    font-weight: var(--font-weight--heading-main);
}

@mixin u-text-h6 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--h6);
    line-height: var(--line-height--1-3em);
    letter-spacing: var(--letter-spacing--0em);
    font-weight: var(--font-weight--heading-main);
}

/* body link styles - webflow cannot set box-shadow size in ems */
@mixin text-link {
    display: inline-block;
    color: var(--text-link--text);
    text-decoration: none;
    line-height: var(--text-link--line-height);
    box-shadow: inset 0 -0.1em 0 0 var(--text-link--border);

    &:hover {
        color: var(--text-link--text-hover);
        box-shadow: inset 0 -0.15em 0 0 var(--text-link--border-hover);
    }
} 

/* custom version of text-link for iubenda integration adding important */
@mixin iub-text-link {
    display: inline-block !important;
    color: var(--text-link--text) !important;
    font-weight: var(--button--font-weight) !important;
    text-decoration: none !important;
    line-height: var(--text-link--line-height) !important;
    box-shadow: inset 0 -1px 0 0 var(--text-link--border) !important;

    &:hover {
        color: var(--text-link--text-hover) !important;
        box-shadow: inset 0 -2px 0 0 var(--text-link--border-hover) !important;
    }
}

/* simple version of text-link for iubenda integration */
@mixin iub-text-link-simple {
    color: var(--text-link--text) !important;
    font-weight: var(--button--font-weight) !important;

    &:hover {
        color: var(--text-link--text-hover) !important;
    }
}

/* custom button for iubenda integration */
@mixin iub-button {
    position: relative !important;
    padding: 0.75em 1.5em !important;
    justify-content: center !important;
    border: var(--button--border-width) solid var(--swatch--medium-1) !important;
    border-radius: var(--button--radius) !important;
    background-color: transparent !important;
    color: var(--theme--text-1) !important;
    font-weight: var(--button--font-weight) !important;
    line-height: var(--button--line-height) !important;
    text-decoration: none !important;
    cursor: pointer !important;
    font-size: var(--iubenda--font-size) !important;
    box-shadow: none !important;

    &:hover {
        border-color: var(--button--border-hover) !important;
        background-color: var(--button--background-hover) !important;
        color: var(--button--text-hover) !important;
    }

}