// Import variables
@use "../base" as *;

/* eCommerce Checkout Wrap */
[class*="checkoutformcontainer"],
.w-commerce-commerceorderconfirmationcontainer {
    background-color: transparent;
    padding: 0;

    

    img {
        height: auto;
    }
}

/* eCommerce Checkout Container */
.w-commerce-commercelayoutcontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: var(--space--medium);
    grid-row-gap: var(--space--medium);
    padding: var(--padding-vertical--small) var(--padding-horizontal--main) var(--padding-vertical--main);
    max-width: var(--max-width--medium);

    @include landscape-down {
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
    }
}

/* eCommerce Checkout Main Section */
.w-commerce-commercelayoutmain {
    margin-right: 0px !important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

/* eCommerce Checkout Sidebar */
.w-commerce-commercelayoutsidebar {
    top: 8rem;
    flex-basis: 320px;

    @include tablet-down {
        top: 5.7rem;
        flex-basis: 280px;
    }

    @include landscape-down {
        position: static;
        top: 0rem;
        height: auto;
        max-height: none;
        min-height: auto;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

.w-commerce-commercelayoutmain,
.w-commerce-commercelayoutsidebar {
    display: flex;
    flex-direction: column;
    grid-column-gap: var(--space--medium);
    grid-row-gap: var(--space--medium);
}

/* eCommerce Checkout Form Blocks */
// Customer Info
.w-commerce-commercecheckoutcustomerinfowrapper,
// Shipping Address
.w-commerce-commercecheckoutshippingaddresswrapper,
// Shipping Method
.w-commerce-commercecheckoutshippingmethodswrapper,
// Payment Info
.w-commerce-commercecheckoutpaymentinfowrapper,
// Billing Address
.w-commerce-commercecheckoutbillingaddresswrapper,
// Items in Order
.w-commerce-commercecheckoutorderitemswrapper,
// Order Summary
.w-commerce-commercecheckoutordersummarywrapper,
/* eCommerce Order Confirmation Form Blocks */
// Customer Summary
.w-commerce-commercecheckoutcustomerinfosummarywrapper,
// Shipping Summary
.w-commerce-commercecheckoutshippingsummarywrapper,
// Payment Summary
.w-commerce-commercecheckoutpaymentsummarywrapper,
// Discount Block
.w-commerce-commercecheckoutdiscounts {
    margin: 0;
    border-radius: var(--card--radius, 1.25rem);
    overflow: hidden;
    background-color: var(--theme--background-2, white);
    border-style: none;
}

/* eCommerce Checkout Form Header & Content Block */
.w-commerce-commercecheckoutblockheader,
.w-commerce-commercecheckoutsummaryblockheader,
.w-commerce-commercecheckoutblockcontent,
.w-commerce-commercecheckoutshippingmethodslist {
    background-color: transparent;
    padding: var(--space--main) var(--space--main);
    border-style: none;

}

/* eCommerce Checkout Form Header Block */
.w-commerce-commercecheckoutblockheader,
.w-commerce-commercecheckoutsummaryblockheader, {
    border-bottom: 1px solid var(--theme--border);
    font-size: var(--font-size--small-text);



    h2 {
        font-size: var(--font-size--h5);
        line-height: var(--line-height--1-1em);
    }

    

}

/* eCommerce Checkout Form Content Block */
.w-commerce-commercecheckoutblockcontent {

}

/* Shipping Methods list */
.w-commerce-commercecheckoutshippingmethodslist {
    label {
        background-color: transparent;
        padding: 0px;
        border-style: none;
        align-items: center;
    }
}

/* eCommerce Checkout Form Labels */
.w-commerce-commercecheckoutlabel {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--small-text);
    line-height: var(--line-height--1-3em);
    font-weight: var(--font-weight--heading-main);
    margin-bottom: var(--space--xsmall);
}

fieldset,
.w-commerce-commercecheckoutdiscounts {
    input[type="text"],
    [class*="selector"] {
        height: 3rem;
        margin-bottom: var(--space--small);
        padding: 0.35rem var(--space--small) 0.25rem;
        border: solid var(--border-width--main) var(--theme--border);
        border-radius: var(--radius--small);
        background-color: var(--theme--background-3);
        color: var(--theme--text);
        font-size: var(--font-size--main-text);
        line-height: var(--line-height--1-3em);
        font-weight: var(--font-weight--text-main);

        &:focus {
            border-color: var(--swatch--medium);
        }

        &:placeholder {
            color: var(--swatch--medium);
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0px var(--space--small) 0px 0px;
        border: solid var(--border-width--main) var(--theme--border);
        background-color: var(--theme--background-3);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        outline: none;
        box-shadow: none;

        &:focus {
            border-color: var(--swatch--medium);
            box-shadow: none;
        }

        &:checked {
            width: 1.5rem;
            height: 1.5rem;
            border-color: var(--swatch--process--success);
            background-color: var(--swatch--process--success);

        }
    }

    input[type="checkbox"] {
        border-radius: var(--radius--small);

        &:checked {
            width: 1.5rem;
            height: 1.5rem;
            border-color: var(--swatch--process--success);
            background-color: var(--swatch--process--success);

        }
    }


}

/* eCommerce Discount Block */
.w-commerce-commercecheckoutdiscounts {
    padding: var(--space--main) var(--space--main);
}
.w-commerce-commercecheckoutdiscountslabel {
    font-size: var(--font-size--h5);
    line-height: var(--line-height--1-1em);
    font-family: var(--font-family--heading);
    font-weight: var(--font-weight--heading-main);
    margin-bottom: var(--space--main);
}
