// Import variables
@use "../base" as *;

// Reset styles
// textarea, 
// input {
//     // -webkit-appearance: none;
//     box-shadow: none;
//     background-clip: padding-box;
// }

/* fix color for webflow elements with default styles */
// .w-select,
// .w-input,
// .w-dropdown-btn, 
// .w-dropdown-toggle, 
// .w-dropdown-link {
//     color: inherit;
// }

.w-select {
    -webkit-appearance: none;
}

/* Webflow form notiifications */
.w-form-done,
.w-form-fail {
    margin-top: var(--space--small);
    padding: var(--space--small);
    border-radius: var(--radius--main);
    text-align: center;
    line-height: 1.3;
}
.w-form-done {
    border: var(--border-width--main) solid var(--swatch--process--success);
    background-color: var(--swatch--process--success-fade);
}
.w-form-fail {
    border: var(--border-width--main) solid var(--swatch--process--alert);
    background-color: var(--swatch--process--alert-fade);
}