// Import variables
@use "../base" as *;

button {
	background-color: unset;
	padding: unset;
	text-align: inherit;

    :not(:disabled) {
        cursor: pointer;
    }    
}

/* button sizes */
[data-button-size="small"] {
    font-size: var(--font-size--small-text);
}
[data-button-size="large"] {
    font-size: var(--font-size--large-text);
}


.w-select {
    -webkit-appearance: none;
}

/* Webflow form notiifications */
.w-form-done,
.w-form-fail {
    margin-top: var(--space--5);
    padding: var(--space--5);
    border-radius: var(--radius--main);
    text-align: center;
    line-height: 1.3;
}
.w-form-done {
    border: var(--border-width--main) solid var(--swatch--process--success);
    background-color: var(--swatch--process--success-fade);
}
.w-form-fail {
    border: var(--border-width--main) solid var(--swatch--process--alert);
    background-color: var(--swatch--process--alert-fade);
}

/* Lumos Focus states */
[tabindex]:focus-visible,
a:focus-visible,
button:focus-visible,
.w-checkbox-input--inputType-custom.w--redirected-focus,
.w-form-formradioinput--inputType-custom.w--redirected-focus {
    outline: 0.125rem solid var(--theme--border-1);
    outline-offset: 0.125rem;
}
.w-checkbox-input--inputType-custom.w--redirected-focus,
.w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: none;
}