// Import variables
@use "../base" as *;


/* Buttons */
// .button {
//     &:hover {
//         .button_icon {
//             opacity: 1;
//         }
//     }
// }

/* button sizes */
[data-button-size="small"] {
    font-size: .875rem;
}
[data-button-size="large"] {
    font-size: 1.375rem;
}


.w-select {
    -webkit-appearance: none;
}

/* Webflow form notiifications */
.w-form-done,
.w-form-fail {
    margin-top: var(--space--main);
    padding: var(--space--main);
    border-radius: var(--radius--main);
    text-align: center;
    line-height: 1.3;
}
.w-form-done {
    border: var(--border-width--main) solid var(--swatch--process--success);
    background-color: var(--swatch--process--success-fade);
}
.w-form-fail {
    border: var(--border-width--main) solid var(--swatch--process--alert);
    background-color: var(--swatch--process--alert-fade);
}