// Import variables
@use "../base" as *;

/* reset navbar */
.w-nav {
    width: 100%;

    .w-nav-brand,
    .w-nav-menu,
    .w-nav-button,
    .w-container,
    // .w-dropdown-toggle,
    .w-dropdown-btn {
        float: unset;
        // position: static;
    } 

    .w-dropdown {
        .w-dropdown-list {
            top: var(--navbar--height);
        }
    }

}

/* navbar widths */
[navbar-width="full"] { 
    .navbar_contain {
        max-width: var(--container--full); 
    } 
}
