@function calculateDynamicPart($min-size, $max-size, $breakpoint-min, $breakpoint-max) {
    // Calculate the slope (change in size over change in viewport width)
    $slope: calc(($max-size - $min-size) / ($breakpoint-max - $breakpoint-min));
    // Convert the slope to vw units (1vw = 1% of viewport width)
    $slope-vw: $slope * 100;
    // Calculate the base size (y-intercept) at the minimum breakpoint
    $base-size: $min-size - calc($slope-vw * $breakpoint-min / 100);
    @return ($base-size, $slope-vw);
}

// Adaptive sizes and breakpoints
$adaptive-sizes: (
	"0-125rem": (max: 0.125rem, min: 0.125rem),
	"0-25rem": (max: 0.25rem, min: 0.245rem),
	"0-5rem": (max: 0.5rem, min: 0.48rem),
	"0-75rem": (max: 0.75rem, min: 0.705rem),
	"1rem": (max: 1rem, min: 0.92rem),
	"1-25rem": (max: 1.25rem, min: 1.12rem),
	"1-5rem": (max: 1.5rem, min: 1.315rem),
	"2rem": (max: 2rem, min: 1.71rem),
	"2-5rem": (max: 2.5rem, min: 2.085rem),
	"3rem": (max: 3rem, min: 2.44rem),
	"3-5rem": (max: 3.5rem, min: 2.775rem),
	"4rem": (max: 4rem, min: 3.09rem),
	"4-5rem": (max: 4.5rem, min: 3.38rem),
	"5rem": (max: 5rem, min: 3.655rem),
	"5-5rem": (max: 5.5rem, min: 3.905rem),
	"6rem": (max: 6rem, min: 4.14rem),
	"6-5rem": (max: 6.5rem, min: 4.35rem),
	"7rem": (max: 7rem, min: 4.54rem),
	"7-5rem": (max: 7.5rem, min: 4.705rem), 
	"8rem": (max: 8rem, min: 4.855rem),
	"8-5rem": (max: 8.5rem, min: 4.985rem),
	"9rem": (max: 9rem, min: 5.09rem),
	"9-5rem": (max: 9.5rem, min: 5.175rem),
	"10rem": (max: 10rem, min: 5.24rem),
	"11rem": (max: 11rem, min: 5.535rem),
	"12rem": (max: 12rem, min: 5.795rem),
	"13rem": (max: 13rem, min: 6.005rem),
	"14rem": (max: 14rem, min: 6.18rem),
	"15rem": (max: 15rem, min: 6.31rem),
	"16rem": (max: 16rem, min: 6.4rem),
);

$breakpoint-min: 20rem; // Equivalent to 320px
$breakpoint-max: 90rem; // Equivalent to 1440px

:root {
@each $name, $size in $adaptive-sizes {
        $min-size: map-get($size, min);
        $max-size: map-get($size, max);
        $dynamic-part: calculateDynamicPart($min-size, $max-size, $breakpoint-min, $breakpoint-max);

        // Generate the clamp function with simplified dynamic part
        --size--#{$name}: clamp(#{$min-size}, #{nth($dynamic-part, 1)} + #{nth($dynamic-part, 2)}vw, #{$max-size});
    }
}


/* element sizes */
:root {
	--navbar--height: clamp(4rem, 3.7143rem + 1.4286vw, 5rem);
	--padding-horizontal--main: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
	--card--padding: clamp(1rem, 0.7857rem + 1.0714vw, 1.75rem);
}